.box-container {
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto auto;
  grid-gap: 1rem;
  padding: 1rem;
  .gyro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &:after,
    &:before {
      --radius: 250;
      animation: gyro 2s infinite linear;
      background: red;
      border-radius: 100%;
      content: "";
      height: 20px;
      width: 20px;
      position: absolute;
    }

    &:before {
      --radius: -250;
      background: blue;
    }
  }
}
.error-display {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: rgb(255, 16, 16);
}
