@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;1,300&family=Kanit:wght@500&family=Quicksand:wght@400;600&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap");

@import "container";
@import "favoritenav";
@import "headerbox";
@import "mainbox/mainbox";
@import "mainbox/animations";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  @media screen and (max-width: 715px) {
    font-size: 55%;
  }
  @media screen and (max-width: 610px) {
    font-size: 50%;
  }
}

body {
  background-image: linear-gradient(to right, #297fb968, #6dd4fa6c, #ffffff58),
    url(../backgrounds/snow-large.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
