@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;1,300&family=Kanit:wght@500&family=Quicksand:wght@400;600&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap");
.box-container {
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto auto;
  grid-gap: 1rem;
  padding: 1rem; }
  .box-container .gyro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .box-container .gyro:after, .box-container .gyro:before {
      --radius: 250;
      animation: gyro 2s infinite linear;
      background: red;
      border-radius: 100%;
      content: "";
      height: 20px;
      width: 20px;
      position: absolute; }
    .box-container .gyro:before {
      --radius: -250;
      background: blue; }

.error-display {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #ff1010; }

.favourite-box {
  margin-top: 1.6rem;
  grid-column: 7 / 9;
  grid-row: 2/-1;
  background-color: #2ba1d7bd;
  border-left: 0.48rem solid #062c50;
  visibility: hidden; }
  @media screen and (max-width: 950px) {
    .favourite-box {
      grid-column: 6 / -1; } }
  @media screen and (max-width: 660px) {
    .favourite-box {
      grid-column: 5 / -1; } }
  @media screen and (max-width: 500px) {
    .favourite-box {
      grid-column: 1 / -1; } }
  .favourite-box .close-button {
    z-index: 20 !important;
    justify-self: flex-start;
    align-self: flex-start;
    color: #fff;
    font-size: 3.52rem;
    padding: 0.8rem;
    margin: 0.8rem; }
    .favourite-box .close-button:active {
      transform: scale(1.2); }
  .favourite-box p {
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
    font-family: "Quicksand", sans-serif;
    text-align: center; }
  .favourite-box .bookmark-container {
    height: 80vh;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; }
    .favourite-box .bookmark-container::-webkit-scrollbar {
      width: 5px;
      background-color: #dadada; }
    .favourite-box .bookmark-container::-webkit-scrollbar-thumb {
      background-color: #1e90ff;
      border-radius: 100px; }
    .favourite-box .bookmark-container .bookmarked-single-box {
      cursor: pointer;
      margin-top: 1.5rem;
      height: auto;
      background-color: #062c50;
      padding: 1.6rem;
      display: grid;
      width: 90%;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      color: #fff;
      font-size: 1.92rem;
      border-radius: 3.2rem; }
      .favourite-box .bookmark-container .bookmarked-single-box .book-weather-box {
        grid-column: 1/2;
        display: flex;
        flex-direction: column; }
        .favourite-box .bookmark-container .bookmarked-single-box .book-weather-box h4 {
          font-size: 1.6rem;
          font-family: "Quicksand", sans-serif;
          text-transform: uppercase;
          font-weight: 600;
          line-height: 1.6rem;
          letter-spacing: 0.16rem;
          display: inline-block;
          -webkit-background-clip: text;
          background-image: linear-gradient(to right, #b4f5ff, #f1f1f1, #60eaff);
          background-clip: text;
          color: transparent;
          backface-visibility: hidden; }
        .favourite-box .bookmark-container .bookmarked-single-box .book-weather-box h3 {
          margin-top: 0.32rem;
          margin-bottom: 0.16rem;
          font-size: 1.6rem;
          font-family: "Roboto", sans-serif;
          font-weight: 400; }
        .favourite-box .bookmark-container .bookmarked-single-box .book-weather-box p {
          align-self: flex-start;
          font-size: 1.44rem;
          font-family: "Roboto", sans-serif;
          color: #dee2e6; }
      .favourite-box .bookmark-container .bookmarked-single-box .book-weather-icon {
        grid-column: 2/3;
        justify-self: center; }
        .favourite-box .bookmark-container .bookmarked-single-box .book-weather-icon i {
          font-family: "Cormorant Garamond", serif;
          font-size: 4.8rem;
          display: inline-block;
          -webkit-background-clip: text;
          background-image: linear-gradient(to right, #b4f5ff, #f1f1f1, #60eaff);
          background-clip: text;
          color: transparent;
          backface-visibility: hidden; }
      .favourite-box .bookmark-container .bookmarked-single-box .unbookmark {
        grid-column: 3/4;
        justify-self: end; }
        .favourite-box .bookmark-container .bookmarked-single-box .unbookmark .unbookmark-icon {
          color: #f1f1f1;
          font-size: 3.2rem;
          align-self: flex-start;
          margin-left: 3.2rem;
          cursor: pointer; }
      .favourite-box .bookmark-container .bookmarked-single-box .book-weather-status {
        grid-row: 2/3;
        grid-column: 1/-1;
        display: flex;
        justify-content: space-evenly;
        padding-top: 0.48rem; }
        .favourite-box .bookmark-container .bookmarked-single-box .book-weather-status * {
          font-size: 1.28rem;
          text-transform: capitalize;
          color: #dee2e6; }
          .favourite-box .bookmark-container .bookmarked-single-box .book-weather-status * i {
            margin-right: 0.16rem;
            display: inline-block;
            -webkit-background-clip: text;
            background-image: linear-gradient(to right, #b4f5ff, #f1f1f1, #60eaff);
            background-clip: text;
            color: transparent; }

.header-box {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem; }
  .header-box .form-box {
    display: flex;
    align-items: center;
    flex: 0 0 50%;
    border-radius: 16rem;
    justify-content: center; }
    @media screen and (max-width: 1300px) {
      .header-box .form-box {
        flex: 0 0 80%; } }
    @media screen and (max-width: 950px) {
      .header-box .form-box {
        flex: 0 0 100%; } }
    @media screen and (max-width: 600px) {
      .header-box .form-box {
        flex: 0 0 100%; } }
    .header-box .form-box .search-box {
      display: flex;
      align-items: center;
      flex: 0 0 70%;
      border-radius: 16rem;
      justify-content: center; }
      @media screen and (max-width: 600px) {
        .header-box .form-box .search-box {
          flex: 0 0 90%; } }
      .header-box .form-box .search-box input {
        border-style: none;
        width: 90%;
        padding: 1.5rem 4rem;
        margin-right: -3rem;
        border-radius: 100px;
        transition: all 0.3s;
        color: #dee2e6;
        background-color: #297fb9d1;
        font-size: 1.4rem; }
        .header-box .form-box .search-box input:focus {
          outline: none; }
        .header-box .form-box .search-box input:active {
          transform: scale(1.1); }
        .header-box .form-box .search-box input::-webkit-input-placeholder {
          color: #ded9d9;
          font-size: 1.6rem;
          margin-left: 0.8rem; }
      .header-box .form-box .search-box .next-click {
        padding: 0.7rem;
        border-radius: 50%;
        margin-left: -1.3rem;
        background-color: #042c52;
        cursor: pointer;
        z-index: 10;
        font-size: 2.4rem;
        color: #fff; }
        .header-box .form-box .search-box .next-click:active, .header-box .form-box .search-box .next-click:focus {
          transform: scale(1.2); }
        .header-box .form-box .search-box .next-click:hover {
          background-color: #940808; }
    .header-box .form-box .bookmark {
      margin-left: 2.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #297fb9c2;
      padding: 0.8rem;
      border-radius: 8rem;
      cursor: pointer;
      z-index: 20; }
      .header-box .form-box .bookmark:active {
        transform: scale(1.2); }
      .header-box .form-box .bookmark .bookmarked {
        font-size: 2.4rem;
        color: rgba(255, 255, 255, 0.884); }

.main-box {
  grid-column: 2 / span 6;
  grid-row: 2/3;
  margin-top: 1.6rem;
  border-left: 0.45rem solid #062c50;
  display: grid;
  grid-template-rows: auto auto auto;
  padding-bottom: 2rem;
  visibility: hidden;
  background-image: linear-gradient(to right bottom, #297fb9f8, #6dd4faef, #ffffffeb); }
  @media screen and (max-width: 900px) {
    .main-box {
      grid-column: 1/-1 !important;
      grid-row-gap: 2rem;
      grid-template-rows: auto auto auto; } }
  @media screen and (min-width: 951px) {
    .main-box {
      grid-column: 2 / span 6; } }
  @media screen and (max-width: 470px) {
    .main-box {
      grid-template-rows: auto auto auto; } }
  .main-box .weather-box {
    display: grid;
    grid-template-columns: auto auto;
    color: #085b93;
    font-size: 1.6rem;
    padding-bottom: 2rem;
    /* .greetings {
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      animation: hide 2s;
      backface-visibility: hidden;
      display: none;
      .hand-waving {
        font-size: 6.4rem;
        animation: moveDown 2s 1 2s, greetingHand 5s infinite 4s;
        color: #03546d;
        backface-visibility: hidden;
      }
      p {
        font-size: 2.8rem;
        font-family: "Quicksand", sans-serif;
        font-weight: 400;
        color: #097287;
        text-transform: capitalize;
        animation: moveUp 2s 1 2s;
        backface-visibility: hidden;
      }
    }*/ }
    .main-box .weather-box .location-weather {
      justify-self: start;
      padding: 4.8rem 0 0 8rem;
      grid-column: 1/2;
      display: flex;
      flex-direction: column; }
      @media screen and (max-width: 530px) {
        .main-box .weather-box .location-weather {
          padding: 4.8rem 0 0 2rem; } }
      @media screen and (max-width: 470px) {
        .main-box .weather-box .location-weather {
          grid-column: 1/-1; } }
      @media screen and (max-width: 470px) {
        .main-box .weather-box .location-weather .city-name {
          display: grid;
          grid-template-columns: auto auto;
          width: 80vw; } }
      .main-box .weather-box .location-weather .city-name .name-box {
        padding: 0.5rem;
        font-family: "Roboto", sans-serif;
        font-weight: 800;
        text-transform: uppercase;
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 1.2rem;
        letter-spacing: 0.2rem;
        display: inline-block;
        -webkit-background-clip: text;
        background-image: linear-gradient(to right, #b4f5ff, #f1f1f1, #60eaff);
        background-clip: text;
        color: transparent;
        width: max-content !important; }
        @media screen and (max-width: 320px) {
          .main-box .weather-box .location-weather .city-name .name-box {
            font-size: 2.3rem; } }
        .main-box .weather-box .location-weather .city-name .name-box ion-icon {
          color: #e9ecef; }
      .main-box .weather-box .location-weather .city-name .add-bookmark {
        font-size: 5.6rem;
        align-self: center;
        color: #dee2e6;
        cursor: pointer;
        display: none; }
        @media screen and (max-width: 470px) {
          .main-box .weather-box .location-weather .city-name .add-bookmark {
            display: block;
            justify-self: end; } }
      .main-box .weather-box .location-weather .weather-degree {
        margin-top: 1rem;
        font-size: 5.6rem;
        font-family: "Roboto", sans-serif;
        font-weight: 800;
        line-height: 3.04rem;
        letter-spacing: 0.3rem;
        color: #fff;
        backface-visibility: hidden; }
        @media screen and (max-width: 470px) {
          .main-box .weather-box .location-weather .weather-degree {
            margin-top: -2rem; } }
        .main-box .weather-box .location-weather .weather-degree .weather-icon-deg {
          margin-right: 0.5rem; }
          @media screen and (max-width: 470px) {
            .main-box .weather-box .location-weather .weather-degree .weather-icon-deg {
              margin-top: 1rem; } }
      .main-box .weather-box .location-weather .weather-status {
        margin-top: 2.4rem;
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8rem;
        width: max-content !important;
        width: 12.8rem;
        padding: 1rem;
        color: #e8e5e5;
        background-color: #062c50; }
      .main-box .weather-box .location-weather .date-fig {
        margin-top: 0.8rem;
        font-family: "Roboto", sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        color: #062c50c8; }
        .main-box .weather-box .location-weather .date-fig .time-clock {
          font-family: "Quicksand", sans-serif;
          font-size: 2rem;
          font-weight: 600;
          color: #fff;
          display: none; }
        .main-box .weather-box .location-weather .date-fig .date-status {
          text-transform: uppercase;
          font-family: "Cormorant Garamond", serif;
          font-size: 1.7rem;
          font-weight: 600;
          display: none; }
          @media screen and (max-width: 570px) {
            .main-box .weather-box .location-weather .date-fig .date-status {
              margin-left: 0.3rem; } }
    .main-box .weather-box .weather-favorite {
      justify-self: end;
      grid-column: 2/3;
      margin: 4.8rem 8rem 0 0;
      display: flex;
      flex-direction: column; }
      @media screen and (max-width: 993px) {
        .main-box .weather-box .weather-favorite {
          margin: 4.8rem 5rem 0 0; } }
      @media screen and (max-width: 770px) {
        .main-box .weather-box .weather-favorite {
          margin: 4.8rem 5rem 0 0; } }
      @media screen and (max-width: 610px) {
        .main-box .weather-box .weather-favorite {
          margin: 4.8rem 4rem 0 0; } }
      @media screen and (max-width: 470px) {
        .main-box .weather-box .weather-favorite {
          margin: 0 0 0rem 0;
          grid-row: 2/3;
          grid-column: 1/-1;
          display: grid;
          grid-template-columns: repeat(4, 1fr); } }
      .main-box .weather-box .weather-favorite .add-bookmark {
        font-size: 5.6rem;
        align-self: center;
        color: #dee2e6;
        cursor: pointer; }
        @media screen and (max-width: 470px) {
          .main-box .weather-box .weather-favorite .add-bookmark {
            display: none; } }
      .main-box .weather-box .weather-favorite .humidity,
      .main-box .weather-box .weather-favorite .wind-speed,
      .main-box .weather-box .weather-favorite .rain-chance {
        margin-top: 1.6rem;
        font-size: 1.9rem;
        padding-left: 6.4rem;
        letter-spacing: 0.16rem;
        display: flex;
        flex-direction: column;
        text-transform: capitalize; }
        @media screen and (max-width: 470px) {
          .main-box .weather-box .weather-favorite .humidity,
          .main-box .weather-box .weather-favorite .wind-speed,
          .main-box .weather-box .weather-favorite .rain-chance {
            flex-direction: row;
            margin-top: 2rem;
            margin-bottom: 5rem;
            padding-left: 3rem; } }
        .main-box .weather-box .weather-favorite .humidity .weather-icons,
        .main-box .weather-box .weather-favorite .wind-speed .weather-icons,
        .main-box .weather-box .weather-favorite .rain-chance .weather-icons {
          color: #282828; }
        .main-box .weather-box .weather-favorite .humidity .icon-gap,
        .main-box .weather-box .weather-favorite .wind-speed .icon-gap,
        .main-box .weather-box .weather-favorite .rain-chance .icon-gap {
          margin-left: 0.8rem;
          color: #085b93; }
          @media screen and (max-width: 470px) {
            .main-box .weather-box .weather-favorite .humidity .icon-gap,
            .main-box .weather-box .weather-favorite .wind-speed .icon-gap,
            .main-box .weather-box .weather-favorite .rain-chance .icon-gap {
              display: none;
              margin-left: 0rem; } }
        .main-box .weather-box .weather-favorite .humidity .weather-digit,
        .main-box .weather-box .weather-favorite .wind-speed .weather-digit,
        .main-box .weather-box .weather-favorite .rain-chance .weather-digit {
          margin-left: 2.7rem; }
          @media screen and (max-width: 470px) {
            .main-box .weather-box .weather-favorite .humidity .weather-digit,
            .main-box .weather-box .weather-favorite .wind-speed .weather-digit,
            .main-box .weather-box .weather-favorite .rain-chance .weather-digit {
              margin-left: 0rem; } }
  .main-box hr {
    height: 1px;
    background-color: #062c5045;
    border: none; }
  .main-box .city-info-box {
    width: 70%;
    margin-top: 4.8rem;
    margin-bottom: 3rem;
    background-color: transparent;
    justify-self: center;
    display: grid;
    grid-template-columns: auto auto;
    color: #fff;
    border-radius: 3.2rem;
    box-shadow: 6px -6px 9px #ced4da, -3px 6px 12px #ced4da; }
    @media screen and (max-width: 1320px) {
      .main-box .city-info-box {
        width: 90%;
        height: 22rem; } }
    @media screen and (max-width: 1300px) {
      .main-box .city-info-box {
        grid-template-columns: 1fr 1.5fr; } }
    @media screen and (max-width: 570px) {
      .main-box .city-info-box {
        margin-top: 2rem;
        grid-template-columns: auto;
        height: max-content;
        padding-bottom: 3rem; } }
    @media screen and (max-width: 460px) {
      .main-box .city-info-box {
        width: 80vw;
        margin-top: 1rem; } }
    .main-box .city-info-box .image {
      /* box-shadow: 6px -6px 9px transparent, -1px 6px 12px #fff;
      background-color: #fff;*/
      padding: 2rem 7rem;
      background-color: #062c50;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-top-left-radius: 3.52rem;
      border-bottom-left-radius: 3.52rem;
      filter: blur(0.2px); }
      @media screen and (max-width: 570px) {
        .main-box .city-info-box .image {
          border-bottom-left-radius: 0rem;
          border-top-right-radius: 3.52rem;
          padding: 10rem; } }
    .main-box .city-info-box .country-info {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 2.4rem;
      padding: 3.2rem 4.8rem;
      text-transform: capitalize;
      font-family: "Quicksand", sans-serif;
      font-size: 1.9rem;
      font-weight: 600;
      color: #464545; }
      .main-box .city-info-box .country-info :first-child {
        font-family: "Roboto", sans-serif;
        font-weight: 800;
        font-size: 1.8rem;
        text-transform: uppercase;
        color: #282828; }
      @media screen and (max-width: 460px) {
        .main-box .city-info-box .country-info {
          grid-template-columns: auto; } }
      .main-box .city-info-box .country-info .info-title {
        font-weight: 300;
        color: #010d0e;
        padding-right: 0.25rem; }
      .main-box .city-info-box .country-info .cur .cur-icon {
        width: max-content !important; }
      .main-box .city-info-box .country-info .cur .symbol {
        font-family: "Roboto", sans-serif; }
  .main-box .forecast {
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */ }
    .main-box .forecast::-webkit-scrollbar {
      display: none;
      /* Safari and Chrome */ }
    .main-box .forecast .forecast-single-con {
      padding: 1rem;
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #062c506d; }
      .main-box .forecast .forecast-single-con .time {
        font-family: "Roboto", sans-serif;
        font-size: 1.6rem; }
        .main-box .forecast .forecast-single-con .time .status {
          text-transform: uppercase;
          font-size: 1rem; }
      .main-box .forecast .forecast-single-con img {
        transform: scale(0.7); }
      .main-box .forecast .forecast-single-con .deg {
        font-family: "Quicksand", sans-serif;
        font-size: 1.8; }

@keyframes greetingHand {
  0% {
    transform: rotateZ(0deg); }
  50% {
    transform: rotateZ(80deg); }
  100% {
    transform: rotateZ(0deg); } }

@keyframes hide {
  0% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes moveUp {
  0% {
    transform: translateY(1rem);
    opacity: 0; }
  100% {
    transform: translateY(0rem);
    opacity: 1; } }

@keyframes moveDown {
  0% {
    transform: translateY(-1rem);
    opacity: 0; }
  100% {
    transform: translateY(0rem);
    opacity: 1; } }

@keyframes moveRight {
  0% {
    transform: translateX(0.8rem);
    opacity: 0; }
  50% {
    transform: translateX(-1rem); }
  100% {
    transform: translateX(0.2rem);
    opacity: 1; } }

@keyframes moveLeft {
  0% {
    transform: translateX(-0.8rem);
    opacity: 0; }
  50% {
    transform: translateX(1rem); }
  100% {
    transform: translateX(-0.2rem);
    opacity: 1; } }

@keyframes gyro {
  0% {
    transform: scale(1) rotate(0deg) translateY(calc(var(--radius) * 1%)); }
  50% {
    transform: scale(0.5) rotate(1440deg) translateY(0); }
  100% {
    transform: scale(1) rotate(2920deg) translateY(calc(var(--radius) * 1%)); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 715px) {
    html {
      font-size: 55%; } }
  @media screen and (max-width: 610px) {
    html {
      font-size: 50%; } }

body {
  background-image: linear-gradient(to right, #297fb968, #6dd4fa6c, #ffffff58), url(../backgrounds/snow-large.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; }
