@keyframes greetingHand {
  0% {
    transform: rotateZ(0deg);
  }

  50% {
    transform: rotateZ(80deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes hide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(0.8rem);
    opacity: 0;
  }
  50% {
    transform: translateX(-1rem);
  }
  100% {
    transform: translateX(0.2rem);
    opacity: 1;
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(-0.8rem);
    opacity: 0;
  }
  50% {
    transform: translateX(1rem);
  }
  100% {
    transform: translateX(-0.2rem);
    opacity: 1;
  }
}

@keyframes gyro {
  0% {
    transform: scale(1) rotate(0deg) translateY(calc(var(--radius) * 1%));
  }
  50% {
    transform: scale(0.5) rotate(1440deg) translateY(0);
  }
  100% {
    transform: scale(1) rotate(2920deg) translateY(calc(var(--radius) * 1%));
  }
}
