.main-box {
  grid-column: 2 / span 6;
  grid-row: 2/3;
  margin-top: 1.6rem;
  border-left: 0.45rem solid #062c50;
  display: grid;
  grid-template-rows: auto auto auto;
  padding-bottom: 2rem;
  visibility: hidden;
  background-image: linear-gradient(
    to right bottom,
    #297fb9f8,
    #6dd4faef,
    #ffffffeb
  );

  @media screen and (max-width: 900px) {
    grid-column: 1/-1 !important;
    grid-row-gap: 2rem;
    grid-template-rows: auto auto auto;
  }
  @media screen and (min-width: 951px) {
    grid-column: 2 / span 6;
  }
  @media screen and (max-width: 470px) {
    grid-template-rows: auto auto auto;
  }

  .weather-box {
    display: grid;
    grid-template-columns: auto auto;
    color: #085b93;
    font-size: 1.6rem;
    padding-bottom: 2rem;

    .location-weather {
      justify-self: start;
      padding: 4.8rem 0 0 8rem;
      grid-column: 1/2;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 530px) {
        padding: 4.8rem 0 0 2rem;
      }
      @media screen and (max-width: 470px) {
        grid-column: 1/-1;
      }
      .city-name {
        @media screen and (max-width: 470px) {
          display: grid;
          grid-template-columns: auto auto;
          width: 80vw;
        }

        .name-box {
          padding: 0.5rem;
          font-family: "Roboto", sans-serif;
          font-weight: 800;
          text-transform: uppercase;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.2rem;
          letter-spacing: 0.2rem;
          display: inline-block;
          -webkit-background-clip: text;
          background-image: linear-gradient(
            to right,
            #b4f5ff,
            #f1f1f1,
            #60eaff
          );
          background-clip: text;
          color: transparent;
          //animation: moveRight 2s;
          width: max-content !important;

          @media screen and (max-width: 320px) {
            font-size: 2.3rem;
          }
          ion-icon {
            color: #e9ecef;
          }
        }

        .add-bookmark {
          font-size: 5.6rem;
          align-self: center;
          color: #dee2e6;
          //animation: moveUp 2s;
          cursor: pointer;
          display: none;

          @media screen and (max-width: 470px) {
            display: block;
            justify-self: end;
          }
        }
      }

      .weather-degree {
        margin-top: 1rem;
        font-size: 5.6rem;
        font-family: "Roboto", sans-serif;
        font-weight: 800;
        line-height: 3.04rem;
        letter-spacing: 0.3rem;
        color: #fff;
        //animation: moveLeft 2s;
        backface-visibility: hidden;
        @media screen and (max-width: 470px) {
          margin-top: -2rem;
        }

        .weather-icon-deg {
          margin-right: 0.5rem;
          @media screen and (max-width: 470px) {
            margin-top: 1rem;
          }
        }
      }

      .weather-status {
        margin-top: 2.4rem;
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8rem;
        width: max-content !important;
        width: 12.8rem;
        padding: 1rem;
        color: rgb(232, 229, 229);
        // animation: moveUp 2s;
        background-color: #062c50;
      }

      .date-fig {
        margin-top: 0.8rem;
        //animation: moveUp 2s 1;
        font-family: "Roboto", sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        color: #062c50c8;

        .time-clock {
          font-family: "Quicksand", sans-serif;
          font-size: 2rem;
          font-weight: 600;
          color: #fff;
          display: none;
        }
        .date-status {
          text-transform: uppercase;
          font-family: "Cormorant Garamond", serif;
          font-size: 1.7rem;
          font-weight: 600;
          display: none;
          @media screen and (max-width: 570px) {
            margin-left: 0.3rem;
          }
        }
      }
    }

    /* .greetings {
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      animation: hide 2s;
      backface-visibility: hidden;
      display: none;
      .hand-waving {
        font-size: 6.4rem;
        animation: moveDown 2s 1 2s, greetingHand 5s infinite 4s;
        color: #03546d;
        backface-visibility: hidden;
      }
      p {
        font-size: 2.8rem;
        font-family: "Quicksand", sans-serif;
        font-weight: 400;
        color: #097287;
        text-transform: capitalize;
        animation: moveUp 2s 1 2s;
        backface-visibility: hidden;
      }
    }*/

    .weather-favorite {
      justify-self: end;
      grid-column: 2/3;
      margin: 4.8rem 8rem 0 0;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 993px) {
        margin: 4.8rem 5rem 0 0;
      }
      @media screen and (max-width: 770px) {
        margin: 4.8rem 5rem 0 0;
      }
      @media screen and (max-width: 610px) {
        margin: 4.8rem 4rem 0 0;
      }

      @media screen and (max-width: 470px) {
        margin: 0 0 0rem 0;
        grid-row: 2/3;
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
      }
      .add-bookmark {
        font-size: 5.6rem;
        align-self: center;
        color: #dee2e6;
        //animation: moveDown 2s;
        cursor: pointer;

        @media screen and (max-width: 470px) {
          display: none;
        }
      }
      .humidity,
      .wind-speed,
      .rain-chance {
        margin-top: 1.6rem;
        font-size: 1.9rem;
        padding-left: 6.4rem;
        letter-spacing: 0.16rem;
        display: flex;
        flex-direction: column;
        text-transform: capitalize;
        //animation: moveUp 2s;

        @media screen and (max-width: 470px) {
          flex-direction: row;
          margin-top: 2rem;
          margin-bottom: 5rem;
          padding-left: 3rem;
        }
        .weather-icons {
          color: #282828;
        }

        .icon-gap {
          margin-left: 0.8rem;
          color: #085b93;
          @media screen and (max-width: 470px) {
            display: none;
            margin-left: 0rem;
          }
        }
        .weather-digit {
          margin-left: 2.7rem;
          @media screen and (max-width: 470px) {
            margin-left: 0rem;
          }
        }
      }
    }
  }

  hr {
    height: 1px;
    background-color: #062c5045;
    border: none;
  }

  .city-info-box {
    width: 70%;
    margin-top: 4.8rem;
    margin-bottom: 3rem;
    background-color: transparent;
    justify-self: center;
    display: grid;
    grid-template-columns: auto auto;
    color: #fff;
    border-radius: 3.2rem;
    box-shadow: 6px -6px 9px #ced4da, -3px 6px 12px #ced4da;
    @media screen and (max-width: 1320px) {
      width: 90%;
      height: 22rem;
    }
    @media screen and (max-width: 1300px) {
      grid-template-columns: 1fr 1.5fr;
    }

    @media screen and (max-width: 570px) {
      margin-top: 2rem;
      grid-template-columns: auto;
      height: max-content;
      padding-bottom: 3rem;
    }
    @media screen and (max-width: 460px) {
      width: 80vw;
      margin-top: 1rem;
    }
    .image {
      /* box-shadow: 6px -6px 9px transparent, -1px 6px 12px #fff;
      background-color: #fff;*/
      padding: 2rem 7rem;
      background-color: #062c50;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-top-left-radius: 3.52rem;
      border-bottom-left-radius: 3.52rem;
      filter: blur(0.2px);

      @media screen and (max-width: 570px) {
        border-bottom-left-radius: 0rem;
        border-top-right-radius: 3.52rem;
        padding: 10rem;
      }
    }
    .country-info {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 2.4rem;
      padding: 3.2rem 4.8rem;
      text-transform: capitalize;
      font-family: "Quicksand", sans-serif;
      font-size: 1.9rem;
      font-weight: 600;
      color: #464545;

      & :first-child {
        font-family: "Roboto", sans-serif;
        font-weight: 800;
        font-size: 1.8rem;
        text-transform: uppercase;
        color: #282828;
      }
      @media screen and (max-width: 460px) {
        grid-template-columns: auto;
      }

      .info-title {
        font-weight: 300;
        color: #010d0e;
        padding-right: 0.25rem;
      }

      .cur {
        .cur-icon {
          width: max-content !important;
        }
        .symbol {
          font-family: "Roboto", sans-serif;
        }
      }
    }
  }

  .forecast {
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
    .forecast-single-con {
      padding: 1rem;
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #062c506d;
      .time {
        font-family: "Roboto", sans-serif;
        font-size: 1.6rem;

        .status {
          text-transform: uppercase;
          font-size: 1rem;
        }
      }
      img {
        transform: scale(0.7);
      }
      .deg {
        font-family: "Quicksand", sans-serif;
        font-size: 1.8;
      }
    }
  }
}
